.ipynb_checkpoints/
__pycache__/
*.swp
echonet.cfg
.echonet.cfg
*.pyc
echonet.egg-info/
.empty/
data/
core.*
oread/notebooks/wandb/
final_models/
dicom*/
data*/
deepIFR/
DeepQCA_videos/
CathEF-data/
df_angle_object_rca_lca_filtered/
test.py
CathEF*
wandb/
